<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mcal.MCPEDumper"
	android:versionCode="3"
	android:versionName="1.2">
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="4" />
    <application android:label="@string/app_name"
		android:icon="@drawable/icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
			android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ClassesActivity"
			android:label="Classws">
		</activity>
		<activity android:name=".SymbolsActivity"
			android:label="Symbols">
		</activity>
		<activity android:name=".ClassActivity"
			android:label="Class">
		</activity>
		<activity android:name=".SymbolActivity"
			android:label="Symbol">
		</activity>
		<activity android:name=".FloatMenuActivity"
			android:label="Float Menu">
		</activity>
    </application>
</manifest> 
