<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mcal.MCPEDumper"
	android:versionCode="3"
	android:versionName="1.2">
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="4" />
    <application android:label="@string/app_name"
		android:icon="@drawable/icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
			android:screenOrientation="portrait"
			android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="com.mcal.MCPEDumper.ClassesActivity"
			android:label="Classes">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.SymbolsActivity"
			android:label="Symbols">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.ClassActivity"
			android:label="Class">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.SymbolActivity"
			android:label="Symbol">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.MenuActivity"
			android:label="Menu">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.SearchActivity"
			android:label="Search Symbols">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.VtableActivity"
			android:label="Vtable'">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.SaveActivity"
			android:label="Save">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.NameDemanglerActivity"
			android:label="Name Demangler">
		</activity>
		<activity android:name="com.mcal.MCPEDumper.NameManglerActivity"
			android:label="Name Mangler">
		</activity>
    </application>
</manifest> 
